#restaurants .cardsrestaurants a, footer a {
  text-decoration: none;
}

#fonctionnement li:hover .fas {
  color: #9356DC;
}

.menurestaurant__btn--style, .inforeservation__btn {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border: 0;
  border-radius: 1.4625rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-weight: bold;
  margin: 2rem;
}
.menurestaurant__btn--style:hover, .inforeservation__btn:hover {
  animation: 1.5s button-hover forwards;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
}

.picrestaurant, #restaurants .cardsrestaurants img {
  object-fit: cover;
  width: 100%;
}

.menurestaurant__menus .menu .menu__details:hover .menu__details__animation, .menurestaurant__menus .menu .menu__details__prix, .menurestaurant__menus .menu .menu__details__dscrpt {
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  height: 3.5rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.menurestaurant__menus .menu .menu__details:hover .menu__details__animation, .menurestaurant__menus .menu .menu__details__prix {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: center;
  flex-wrap: unset;
  border-radius: 0rem 1.4625rem 1.4625rem 0rem;
  padding: 0.5rem;
}

.loadingspinner__loader__dots > div:nth-child(even), .loadingspinner__loader__dots > div:nth-child(odd) {
  width: 1rem;
  height: 1rem;
  background: #99E2D0;
  border-radius: 1.4625rem;
  margin: 2rem 1rem;
}

* {
  margin: 0;
  padding: 0;
}

#pages {
  background-color: #353535;
}
#pages main {
  background-color: #FFF;
}

body {
  font-family: "Roboto", sans-serif;
}

.font-primary {
  font-family: "Roboto", sans-serif;
}

.font-title {
  font-family: "Shrikhand", cursive;
}

i.fas.fa-utensils {
  font-size: 1rem;
  padding: 0rem 1.5rem 0rem 0rem;
  color: unset;
  background-color: unset;
  border-radius: unset;
}
i.fas.fa-hands-helping {
  font-size: 1rem;
  padding: 0rem 1rem 0rem 0rem;
  color: unset;
  background-color: unset;
  border-radius: unset;
}
i.fas.fa-mobile-alt {
  font-size: 1.3rem;
  padding: 0rem 1rem 0rem 0.5rem;
  color: #7e7e7e;
  background-color: unset;
  border-radius: unset;
}
i.fas.fa-list {
  font-size: 1.3rem;
  padding: 0rem 1rem 0rem 0.5rem;
  color: #7e7e7e;
  background-color: unset;
  border-radius: unset;
}
i.fas.fa-store {
  font-size: 1.3rem;
  padding: 0rem 1rem 0rem 0.5rem;
  color: #7e7e7e;
  background-color: unset;
  border-radius: unset;
}
i.fas.fa-arrow-left {
  font-size: 2rem;
  padding: unset;
  color: #000;
  background-color: unset;
  border-radius: unset;
}
i.fas.fa-arrow-left:hover {
  color: #9356DC;
}
i.fas.fa-arrow-left:visited {
  color: #000;
}
i.fas.fa-check {
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #99E2D0;
  background-color: #FFF;
  border-radius: unset;
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
}

.inforeservation__btn {
  padding: 1rem;
  text-decoration: none;
}

.menurestaurant__btn--style {
  padding: 1rem;
  width: 10rem;
}

.loadingspinner {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  flex-wrap: unset;
  width: 100%;
  height: 100%;
  animation: hide 0s ease-out 3s forwards;
  background: rgba(0, 0, 0, 0.85);
  left: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}
.loadingspinner__loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  flex-wrap: unset;
}
.loadingspinner__loader__progressbar {
  background-color: #9356DC;
  border-radius: 1.4625rem;
  margin-top: 1rem;
  padding: 0.1rem;
  width: 20rem;
}
.loadingspinner__loader__progressbar > div {
  width: 50%;
  height: 0.5rem;
  animation: progressbar 3s ease-out forwards;
  background-color: #FF79DA;
  border-radius: 1.4625rem;
}
.loadingspinner__loader__dots {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: unset;
  flex-wrap: unset;
}
.loadingspinner__loader__dots > div:nth-child(odd) {
  animation: dots-pulse 1s infinite;
}
.loadingspinner__loader__dots > div:nth-child(even) {
  animation: dots-pulse 1.5s infinite;
}

@keyframes hide {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@keyframes dots-pulse {
  0% {
    transform: translateY(0rem);
    background: #99E2D0;
  }
  50% {
    transform: translateY(2rem);
    background: #FF79DA;
  }
  100% {
    transform: translateY(0rem);
    background: #9356DC;
  }
}
@keyframes button-hover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes fct-hover {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.menu__details--n1 {
  animation: menu 1s;
}

.menu__details--n2 {
  animation: menu 2s;
}

.menu__details--n3 {
  animation: menu 3s;
}

.menu__details--n4 {
  animation: menu 4s;
}

@keyframes menu {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    opacity: 0;
    width: 0rem;
  }
  to {
    opacity: 1;
    width: 3rem;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.logo {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: unset;
  flex-wrap: unset;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.headerrestaurant {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  flex-wrap: unset;
  background-color: #FFF;
  padding: 1rem;
}
.headerrestaurant img {
  margin: auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  flex-wrap: unset;
  background-color: #353535;
  color: #FFF;
  padding: 2rem 1rem;
}
@media screen and (min-width: 450px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: unset;
    flex-wrap: unset;
  }
  footer h4 {
    display: flex;
    flex-direction: unset;
    justify-content: unset;
    align-items: center;
    flex-wrap: unset;
    font-size: 1.5rem;
  }
}
footer a {
  color: #FFF;
}
footer a:hover {
  color: #FFF;
  text-decoration: underline;
}
footer p {
  font-size: 0.87rem;
}
footer h4 {
  margin: 0rem 0rem 1rem 0rem;
}
footer li {
  list-style: none;
  margin: 0rem 0rem 0.5rem 0rem;
}

input[type=search].searchreservation__form--input {
  background: #eaeaea;
  border: none;
  height: 1.5rem;
}
input[type=search].searchreservation__form--input::placeholder {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  flex-wrap: unset;
}

#reservation {
  margin: 0.2rem 0rem 0rem 0rem;
}
#reservation .searchreservation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  flex-wrap: unset;
  background-color: #eaeaea;
  padding: 1rem;
}
#reservation .inforeservation {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  flex-wrap: unset;
  background-color: #f6f6f6;
  padding: 2rem;
}
#reservation h1 {
  text-align: center;
}
#reservation h2 {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 1rem;
  text-align: center;
}

#fonctionnement {
  margin: 2rem 1rem;
}
#fonctionnement h2 {
  margin: 1rem 0rem 3rem 0rem;
}
#fonctionnement ol {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  flex-wrap: unset;
  counter-reset: steps;
  margin: 0rem 0rem 3rem 0rem;
}
@media screen and (min-width: 1290px) {
  #fonctionnement ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: unset;
    flex-wrap: unset;
  }
}
#fonctionnement li {
  align-content: center;
  background-color: #f6f6f6;
  border-radius: 1.4625rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  counter-increment: steps;
  font-weight: bold;
  list-style-type: none;
  margin: 0rem 0rem 1rem 0rem;
  padding: 1.3rem 4rem 1.3rem 0rem;
  width: 17rem;
}
@media screen and (min-width: 1290px) {
  #fonctionnement li {
    margin: 0rem 1rem;
  }
}
#fonctionnement li::before {
  background-color: #9356DC;
  border-radius: 1rem;
  color: #FFF;
  content: counter(steps);
  font-weight: normal;
  left: -0.75rem;
  padding: 0.25rem 0.5rem;
  position: relative;
}
#fonctionnement li:hover {
  animation: fct-hover 1.5s forwards;
  background-color: #ffb6eb;
  color: #FFF;
}

#restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
#restaurants h2 {
  margin: 1rem 0rem 2rem 0rem;
}
#restaurants .cardsrestaurants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1290px) {
  #restaurants .cardsrestaurants {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
#restaurants .cardsrestaurants .fhome {
  border-radius: 1.4625rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  width: 22rem;
  height: 16rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  #restaurants .cardsrestaurants .fhome {
    width: 32rem;
    height: 20rem;
  }
  #restaurants .cardsrestaurants .fhome .fhome__figcaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
    flex-wrap: unset;
    margin-top: 1.5rem;
  }
}
#restaurants .cardsrestaurants .fhome__figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  flex-wrap: unset;
  margin: 1rem;
}
#restaurants .cardsrestaurants .fhome__figcaption__like {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: unset;
  flex-wrap: unset;
  width: 2rem;
  height: 2rem;
}
#restaurants .cardsrestaurants .fhome__span--new {
  background-color: #99E2D0;
  color: #008766;
  padding: 0.4rem;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}
#restaurants .cardsrestaurants img {
  border-radius: 1.4625rem 1.4625rem 0rem 0rem;
  height: 70%;
}
#restaurants .cardsrestaurants a {
  color: #000;
}
#restaurants .cardsrestaurants a:hover {
  transform: scale(1.025, 1.025);
}

.picrestaurant {
  margin: auto;
  max-height: 15rem;
}
@media screen and (min-width: 1290px) {
  .picrestaurant {
    max-height: 25rem;
  }
}

.menurestaurant {
  background-color: #f6f6f6;
  max-width: 95%;
  margin: auto;
}
.menurestaurant__header {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: unset;
  flex-wrap: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  flex-wrap: unset;
  background-color: #f6f6f6;
  border-radius: 1.4625rem 1.4625rem 0rem 0rem;
  margin-top: -4rem;
  padding: 1rem;
}
.menurestaurant__header__like {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: unset;
  flex-wrap: unset;
  width: 2rem;
  height: 2rem;
}
.menurestaurant__header h1 {
  font-size: 1.8rem;
}
.menurestaurant__menus {
  justify-content: center;
}
@media screen and (min-width: 1290px) {
  .menurestaurant__menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 1rem 0rem 1rem;
  }
}
.menurestaurant__menus h2 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.menurestaurant__menus h2:after {
  width: 2rem;
  height: 0.3rem;
  background: #99E2D0;
  content: "";
  display: block;
  position: absolute;
}
.menurestaurant__menus .menu {
  margin: 1rem 1rem;
  width: 20rem;
}
@media screen and (min-width: 450px) {
  .menurestaurant__menus .menu {
    width: 24rem;
  }
}
@media screen and (max-width: 370px) {
  .menurestaurant__menus .menu {
    width: 90%;
  }
}
.menurestaurant__menus .menu .menu__details {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: unset;
  flex-wrap: unset;
}
.menurestaurant__menus .menu .menu__details__dscrpt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  flex-wrap: unset;
  background-color: #FFF;
  border-radius: 1.4625rem 0rem 0rem 1.4625rem;
  overflow: hidden;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
.menurestaurant__menus .menu .menu__details__dscrpt h3 {
  font-size: medium;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 450px) {
  .menurestaurant__menus .menu .menu__details__dscrpt h3 {
    font-size: large;
  }
}
.menurestaurant__menus .menu .menu__details__dscrpt p {
  font-size: 0.87rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 450px) {
  .menurestaurant__menus .menu .menu__details__dscrpt p {
    font-size: medium;
  }
}
.menurestaurant__menus .menu .menu__details__prix {
  background-color: #FFF;
}
.menurestaurant__menus .menu .menu__details__animation {
  display: none;
}
.menurestaurant__menus .menu .menu__details:hover .menu__details__prix {
  border-radius: 0rem;
}
.menurestaurant__menus .menu .menu__details:hover .menu__details__animation {
  animation: slidein 0.5s ease forwards;
  background-color: #99E2D0;
}
.menurestaurant__menus .menu .menu__details:hover i.fas.fa-check {
  animation: rotate 0.75s ease forwards;
}
.menurestaurant__btn {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: unset;
  flex-wrap: unset;
}

/*# sourceMappingURL=style.css.map */
