/* GENERAL SETTINGS */ 
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
/* body{
    max-width: 1280px; 
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
} 
--> Retire le width 100% du Footer
*/
h1{
    font-size: 1.375em;
    font-weight: bold;
}
h4{
    font-size: 1em;
}
header{
    max-width: 1280px;
    margin: auto;
}
#maincontainer{
    max-width: 1280px;
    margin: auto;
}
#footercontainer{
    max-width: 1280px;
    margin: auto;    
}
/* HEADER */
#logoetnav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    display: flex;
}
#slogan{
    padding-bottom: 1.25rem;
}
#slogan h4{
    font-weight: normal;
}
/* NAVBAR */
nav.nav-anchor{
    display: flex;
    justify-content: flex-end;
    width: 82%;
}
nav.nav-anchor a{
    text-decoration: none;
    color: rgba(0,0,0, 0.75);
    padding: 2.5em 1em;
    border-top: 0.125rem solid rgba(0, 0, 0, 0);
}
nav.nav-anchor a:hover{
    text-decoration: none;
    color: #0065FC;
    padding: 2.5em 1em;
    border-top: 0.125rem solid #0065FC;
}
nav.nav-anchor a.active{
    text-decoration: none;
    color: #0065FC;
    padding: 2.5em 1em;
    border-top: 0.125rem solid #0065FC;
}
a.subscribe{
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    padding: 2.5em 1em;
    border-top: 0.125rem solid rgba(0, 0, 0, 0);
}
/* SEARCH */
#Search{
    padding-bottom: 1.25rem;
}
.formmapsearch{
    display: flex;
    flex-direction: row;
    height: 3.15rem;
    padding-bottom: 1.25rem;
}
input[type="search"].inputmapsearch::placeholder {
    font-weight: bold;
    font-size: 1.2em;
}
.fa-map-marker-alt{
    background-color: #F2F2F2;
    padding: 0.9375rem 1.25rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 1rem;
    display: inline-block;
    text-align: center;
}
.ResultsNumber{
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
}
.ResultsNumber h4{
    font-weight:lighter !important;
    color: rgba(0,0,0, 0.75);
}
.fa-info{
    color: #0065FC;
    border: 0.125rem solid #F2F2F2;
    border-radius: 0.9375rem;
    padding: 0.15625rem 0.15625rem;
    width: 0.9375rem;
    height: 0.9375rem;
    display:inline-block;
    text-align: center;
    font-size:  0.75em;
    margin-right: 0.625rem;
    vertical-align: middle;
}
.inputmapsearch{
    width: 15rem;
    border-color: #F2F2F2;
    border-style: solid;
}
.btnmapsearch{
    background-color: #0065fc;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;
    padding: 0.625rem;
    color: #fff;
    font-weight: bold;
    width: 8rem;
}
.btnmapsearch:hover{
    cursor: pointer;
}
.divformfilter{
    display: flex;
    line-height: 3rem;
    justify-items: flex-start;
}
.divformfilter h4{
    margin-right: 1rem;
}
.formfilter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    vertical-align: bottom;
    line-height: 3rem; 
}
.formfilter input[type=checkbox] {
    display: none;
}
.formfilter .divcustomlabel {
    display: inline-flex;
    border: 0.125rem solid #F2F2F2;
    border-radius: 1.5625rem;
    vertical-align:center;
    line-height: 3rem;
    height: 3rem; 
}
.formfilter .divcustomlabel:hover{
    color: #DEEBFF;
    background-color: #0065FC;
    cursor: pointer;
    border: none;
}
.formfilter input[type=checkbox]:checked + .divcustomlabel {
    background: #0065FC;
    color: #fff;
    border: none;
}
.formfilter .divcustomlabel i.fas{
    color: #0065FC;
    background-color: #DEEBFF;
    width: 3rem;
    height: 3rem;
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
    line-height: 3rem;
    border-radius: 1.5rem;
}
.formfilter .divcustomlabel h4{
    font-size: 0.9em;
    display: inline;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}
/* RESULTS */
#Results{
    display: flex;
    padding-bottom: 1.25rem;
}
/* RENTALS */
#Rentals{
    background-color: #F2F2F2;
    border-radius: 1.5625rem;
    padding: 1.875rem 1.875rem;
    margin-right: auto;
}
#Rentals #ResultsRentals{
    padding-bottom: 0.9375rem;
}
#Rentals #More{
    padding-top: 0.9375rem;
}
#Rentals .CardsRentalFirstRow, .CardsRentalSecondRow{
    padding: 0rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 0rem 1.875rem;
    padding: 0.9375rem 0rem;
}
#Rentals .CardsRentalFirstRow div, .CardsRentalSecondRow div{
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    padding: 0.3125em 0.3125em;
}
#Rentals .CardsRentalFirstRow img, .CardsRentalSecondRow img{
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    object-fit: cover;
    height: 7.55rem;
    width: 14.55rem;
}
#Rentals .CardsRentalFirstRow h3, .CardsRentalSecondRow h3{
    padding-left: 0.625rem;
}    
#Rentals .CardsRentalFirstRow p, .CardsRentalSecondRow p{
    padding-left: 0.625rem;
}  
#Rentals .CardsRentalFirstRow span, .CardsRentalSecondRow span{
    font-weight: bold;
}
.fa-star{
    font-size:  0.75em;
}
#Rentals .CardsRentalFirstRow .stars, .CardsRentalSecondRow .stars{
    display: flex;
    margin-top: 0.3125em;
    padding-left: 0.625rem;
}
#Rentals .CardsRentalFirstRow a, .CardsRentalSecondRow a{
    text-decoration: none;
    color: #000 !important;
}
#Rentals .CardsRentalFirstRow a:hover, .CardsRentalSecondRow a:hover{
    text-decoration: none;
    color: #0065fc !important;
}
/* MOST POPULAR */
.MostPopular{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MostPopular .fa-chart-line{
    float: right;
    font-size: 1.5em;
}
#Popular{
    background-color: #F2F2F2;
    border-radius: 1.5625rem;
    padding: 1.875rem 1.875rem;
    margin-left: 2%;
}
#Popular .CardsPopular{
    padding: 1.875rem 0rem;
    display: flex;
    flex-direction: column;
    width: 22rem;
}
#Popular .CardsPopular div:nth-child(1n){
    background-color: #FFF;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    padding: 0.3125em 1.5625rem 0.3125em 0.3125em;
    margin-bottom: 1.25rem;
}
#Popular .CardsPopular img{
    border-top-left-radius: 1.5625rem;
    border-bottom-left-radius: 1.5625rem;
    object-fit: cover;
    height: 8.75rem;
    width: 8.25rem;
    float: left;
    margin-right: 0.625rem;
}
#Popular .CardsPopular h3{
    margin-top: 4%;
    display: flex;
}
#Popular .CardsPopular p{
    display: flex;
}
#Popular .CardsPopular .stars{
    display: flex;
    padding-top: 16%;
    display: flex;
}
#Popular .CardsPopular a{
    text-decoration: none;
    color: #000 !important;
}
#Popular .CardsPopular a:hover{
    text-decoration: none;
    color: #0065fc !important;
}
#Popular h2{
    position: relative;
    display: flex;
}
/* ACTIVITIES */
#Activities .CardsActivities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 0% 2% 0%;
}
#Activities .CardsActivities h3{
    margin-left: 0.625rem;
}
#Activities .CardsActivities a{
    text-decoration: none;
    color: #000;
}
#Activities .CardsActivities a:hover{
    text-decoration: none;
    color: #0065fc !important;
}
#Activities .CardsActivities .OneActivity{
    padding-bottom: 1.25rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    width: 18.875rem;
    height: 26.85rem;
    border: 0.0625rem solid #fff;
}
#Activities .CardsActivities .OneActivity img{
    object-fit: cover;
    height: 23.975rem;
    width: 19rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    margin-bottom: 1.25rem;
}
#Activities .CardsActivities .ActivitieFortDePomegues{
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    width: 18.875rem;
    border: 0.0625rem solid #fff;
    margin-bottom: 1.875rem;
    padding-bottom: 0.625rem;    
}
#Activities .CardsActivities .ActivitieFortDePomegues img{
    object-fit: cover;
    height: 12rem;
    width: 19rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    margin-bottom: 1.25rem;
}
#Activities .CardsActivities .ActivitieIleDuFrioul{
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    width: 18.875rem;
    border: 0.0625rem solid #fff;
    margin-bottom: 1.875rem;
    padding-bottom: 0.625rem;    
}
#Activities .CardsActivities .ActivitieIleDuFrioul img{
    object-fit: cover;
    height: 7.150rem;
    width: 19rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    margin-bottom: 1.25rem;
}
#Activities .CardsActivities .ActivitieNotreDameDeLaGarde{
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    width: 18.875rem;
    border: 0.0625rem solid #fff;
    margin-bottom: 1.875rem;
    padding-bottom: 0.625rem;
}
#Activities .CardsActivities .ActivitieNotreDameDeLaGarde img{
    object-fit: cover;
    height: 9.15rem;
    width: 19rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    margin-bottom: 1.25rem;
}
#Activities .CardsActivities .ActivitieParcLongchamp{
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    width: 18.875rem;
    border: 0.0625rem solid #fff;
    margin-bottom: 1.875rem;
    padding-bottom: 0.625rem;
}
#Activities .CardsActivities .ActivitieParcLongchamp img{
    object-fit: cover;
    height: 9.90rem;
    width: 19rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    margin-bottom: 1.25rem;
}
/* FOOTER */
footer{
	background-color: #F2F2F2;
    color: #000;
    width: 100%;
}
.footertxt{
    display: flex;
    justify-content:space-between;
    padding: 1.875rem 0rem;
    width: 70%;
}
.footertxt li{
    list-style: none;
    line-height: 2;
}
.footertxt h3{
    line-height: 2;
}
.footertxt a{
    text-decoration: none;
    color: #000;
}
.footertxt a:hover{
    text-decoration: underline;
}

/******************/
/* MEDIA QUERIES  */
/******************/

/* Tablets and Small Desktop Screens */
/*
@media screen and (min-width: 768px) and (max-width: 1360px) { ...
}
*/ 

/* Phones */
@media screen and (max-width: 768px) {
    header{
        margin: auto;
    }
    #maincontainer{
        margin: auto;
    }
    footer{
        width: 100%;
        background-color: #F2F2F2;
    }
    /* NAVBAR */
    nav.nav-anchor{
        display: flex;
        justify-content: space-around;
        width: 100%;
        order: 3;
        padding-bottom: 2em;
    }
    nav.nav-anchor a{
        text-decoration: none;
        color: rgba(0,0,0, 0.75);
        padding: 0em 1em 2.5em 1em;
        border-bottom: 0.125rem solid #F2F2F2;
        border-top: none;
        width: 50%;
        text-align: center;
    }
    nav.nav-anchor a:hover{
        text-decoration: none;
        color: #0065FC;
        padding: 0em 1em 2.5em 1em;
        border-bottom: 0.125rem solid #0065FC;
        border-top: none;
        width: max-content;
        width: 50%;
        text-align: center;

    }
    nav.nav-anchor a.active{
        text-decoration: none;
        color: #0065FC;
        padding: 0em 1em 2.5em 1em;
        border-bottom: 0.125rem solid #0065FC;
        border-top: none;
        width: max-content;
        width: 50%;
        text-align: center;

    }
    a.subscribe{
        color: #0065FC;
        order: 2;
    }

    .divformfilter{
        display: flex;
        flex-direction: column;
        line-height: 3rem;
        justify-content: flex-start;
    }
    .divformfilter h4{
        margin-right: 1rem;
    }
    .formfilter{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        width: 60%;
        vertical-align: bottom;
        line-height: 3rem; 
    }
    .formfilter .divcustomlabel {
        display: inline-flex;
        border: 0.125rem solid #F2F2F2;
        border-radius: 1.5625rem;
        vertical-align:center;
        line-height: 3rem;
        height: 3rem; 
        margin-bottom: 1rem;
    }
}


