/* GENERAL SETTINGS */ 
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 1.375rem;
    font-weight: bold;
}
h4{
    font-size: 1rem;
}
header{
    max-width: 1280px;
    margin: auto;
}
main{
    max-width: 1280px;
    margin: auto;
}
#footercontainer{
    max-width: 1280px;
    margin: auto;    
}
/* HEADER */
#logoetnav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    display: flex;
}
#slogan{
    padding-bottom: 1.25rem;
}
#slogan h4{
    font-weight: normal;
}
/* NAVBAR */
nav.nav-anchor{
    display: flex;
    justify-content: flex-end;
    width: 82%;
}
nav.nav-anchor a{
    text-decoration: none;
    color: rgba(0,0,0, 0.75);
    padding: 2.5rem 1rem;
    border-top: 0.125rem solid rgba(0, 0, 0, 0);
}
nav.nav-anchor a:hover{
    text-decoration: none;
    color: #0065FC;
    padding: 2.5rem 1rem;
    border-top: 0.125rem solid #0065FC;
}
nav.nav-anchor a.active{
    text-decoration: none;
    color: #0065FC;
    padding: 2.5rem 1rem;
    border-top: 0.125rem solid #0065FC;
}
a.subscribe{
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    padding: 2.5rem 1rem;
    border-top: 0.125rem solid rgba(0, 0, 0, 0);
}
/* SEARCH */
#Search{
    padding-bottom: 1.25rem;
}
.formmapsearch{
    display: flex;
    flex-direction: row;
    line-height: 3rem;
    padding-bottom: 1.25rem;
}
.formmapsearch .formmapsearchmain{
    border: 0.05rem solid #F2F2F2;
    border-radius: 1rem;
    display: flex;
}
input[type="search"].inputmapsearch::placeholder {
    font-weight: bold;
    font-size: 1.2rem;
    border: 0;
}
.inputmapsearch{
    width: 15rem;
    border: none;
}
.fa-map-marker-alt{
    background-color: #F2F2F2;
    padding: 0.9375rem 1.25rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 1rem;
    display: inline-block;
    text-align: center;
}
.ResultsNumber{
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
}
.ResultsNumber h4{
    font-weight:lighter !important;
    color: rgba(0,0,0, 0.75);
}
.fa-info{
    color: #0065FC;
    border: 0.125rem solid #F2F2F2;
    border-radius: 0.9375rem;
    padding: 0.15625rem 0.15625rem;
    width: 0.9375rem;
    height: 0.9375rem;
    display:inline-block;
    text-align: center;
    font-size:  0.75rem;
    margin-right: 0.625rem;
    vertical-align: middle;
}
.inputmapsearch{
    width: 15rem;
}
.btnmapsearch {
    background-color: #0065fc;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;
    color: #fff;
    font-weight: bold;
    width: 8rem;
    line-height: 3rem;
}
.btnmapsearch:hover{
    cursor: pointer;
}
.btnmapsearch .fa-search{
    display: none;
}
.divformfilter{
    display: flex;
    line-height: 3rem;
    justify-content: flex-start;
}
.divformfilter h4{
    margin-right: 1rem;
}
.formfilter{
    display: flex;
    flex-direction: row;
    width: 60%;
    vertical-align: bottom;
    line-height: 3rem; 
    flex-wrap: wrap;
    justify-content: flex-start;
}
.formfilter input[type=checkbox] {
    display: none;
}
.formfilter .divcustomlabel {
    display: inline-flex;
    border: 0.125rem solid #F2F2F2;
    border-radius: 1.5625rem;
    vertical-align:center;
    line-height: 3rem;
    height: 3rem; 
    margin-right: 1rem;
}
.formfilter .divcustomlabel:hover{
    color: #DEEBFF;
    background-color: #0065FC;
    cursor: pointer;
    border: none;
}
.formfilter input[type=checkbox]:checked + .divcustomlabel {
    background: #0065FC;
    color: #fff;
    border: none;
}
.formfilter .divcustomlabel i.fas{
    color: #0065FC;
    background-color: #DEEBFF;
    width: 3rem;
    height: 3rem;
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
    line-height: 3rem;
    border-radius: 1.5rem;
}
.formfilter .divcustomlabel h4{
    font-size: 0.9rem;
    display: inline;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}
/* RESULTS */
#Results{
    display: flex;
    padding-bottom: 1.25rem;
}
/* RENTALS */
#Rentals{
    background-color: #F2F2F2;
    border-radius: 1.5625rem;
    padding: 1.875rem 1.875rem;
    margin-right: auto;
}
#Rentals #ResultsRentals{
    padding-bottom: 0.9375rem;
}
#Rentals #More{
    padding-top: 0.9375rem;
}
#Rentals .CardsRentalMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    padding: 0.9375rem 0rem;
}
#Rentals .CardsRentalMain div{
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    padding: 0.3125rem 0.3125rem;
}
#Rentals .CardsRentalMain img{
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    object-fit: cover;
    height: 7.55rem;
    width: 14.55rem;
}
#Rentals .CardsRentalMain h3{
    padding-left: 0.625rem;
}    
#Rentals .CardsRentalMain p{
    padding-left: 0.625rem;
}  
#Rentals .CardsRentalMain span{
    font-weight: bold;
}
.fa-star{
    font-size:  0.75rem;
}
#Rentals .CardsRentalMain .stars{
    display: flex;
    margin-top: 0.3125rem;
    padding-left: 0.625rem;
}
#Rentals .CardsRentalMain a{
    text-decoration: none;
    color: #000 !important;
}
#Rentals .CardsRentalMain a:hover{
    text-decoration: none;
    color: #0065fc !important;
}
/* MOST POPULAR */
.MostPopular{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2rem;
}
.MostPopular .fa-chart-line{
    font-size: 1.5rem;
}
#Popular{
    background-color: #F2F2F2;
    border-radius: 1.5625rem;
    padding: 1.875rem 1.875rem;
    margin-left: 2rem; 
}
#Popular .CardsPopular .MostPopularChildContainer span{
    font-weight: bold;
}
#Popular .CardsPopular .MostPopularChildContainer{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    padding: 0.3125rem 1.5625rem 0.3125rem 0.3125rem;
    margin-bottom: 1.25rem;
    width: 20rem;
    height: 8.75rem; 
}
#Popular .CardsPopular .MostPopularChildContainer img{
    border-top-left-radius: 1.5625rem;
    border-bottom-left-radius: 1.5625rem;
    object-fit: cover;
    height: 100%;
    width: 8.25rem;
    margin-right: 0.625rem;
}
#Popular .CardsPopular .MostPopularChildContainerDescription{
    width: 11rem;
}
#Popular .CardsPopular .MostPopularChildContainerDescription h3{
    margin-top: 0.5rem;
    display: flex;
}
#Popular .CardsPopular .MostPopularChildContainerDescription p{
    display: flex;
}
#Popular .CardsPopular .MostPopularChildContainerDescription .stars{
    display: flex;
    padding-top: 30%;
}
#Popular .CardsPopular a{
    text-decoration: none;
    color: #000 !important;
}
#Popular .CardsPopular a:hover{
    text-decoration: none;
    color: #0065fc !important;
}
#Popular h2{
    position: relative;
    display: flex;
}
/* ACTIVITIES */
#Activities .CardsActivities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0rem 2rem 0rem;
}
#Activities .CardsActivities h3{
    margin-left: 0.625rem;
}
#Activities .CardsActivities a{
    text-decoration: none;
    color: #000;
}
#Activities .CardsActivities a:hover{
    text-decoration: none;
    color: #0065fc !important;
}
#Activities .CardsActivities .ActivityVieuxPort, .CardsActivities .ActivityParcNationalDesCalanques{
    padding-bottom: 1.25rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    width: 18.875rem;
    height: 26.85rem;
    border: 0.0625rem solid #fff;
}
#Activities .CardsActivities .ActivityVieuxPort img, .CardsActivities .ActivityParcNationalDesCalanques img{
    object-fit: cover;
    height: 23.975rem;
    width: 19rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    margin-bottom: 1.25rem;
}
#Activities .CardsActivities .ActivityFortDePomegues{
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    width: 18.875rem;
    border: 0.0625rem solid #fff;
    margin-bottom: 1.875rem;
    padding-bottom: 0.625rem;    
}
#Activities .CardsActivities .ActivityFortDePomegues img{
    object-fit: cover;
    height: 12rem;
    width: 19rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    margin-bottom: 1.25rem;
}
#Activities .CardsActivities .ActivityIleDuFrioul{
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    width: 18.875rem;
    border: 0.0625rem solid #fff;
    margin-bottom: 1.875rem;
    padding-bottom: 0.625rem;    
}
#Activities .CardsActivities .ActivityIleDuFrioul img{
    object-fit: cover;
    height: 7.150rem;
    width: 19rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    margin-bottom: 1.25rem;
}
#Activities .CardsActivities .ActivityNotreDameDeLaGarde{
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    width: 18.875rem;
    border: 0.0625rem solid #fff;
    margin-bottom: 1.875rem;
    padding-bottom: 0.625rem;
}
#Activities .CardsActivities .ActivityNotreDameDeLaGarde img{
    object-fit: cover;
    height: 9.15rem;
    width: 19rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    margin-bottom: 1.25rem;
}
#Activities .CardsActivities .ActivityParcLongchamp{
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
    border-radius: 1.5625rem;
    width: 18.875rem;
    border: 0.0625rem solid #fff;
    margin-bottom: 1.875rem;
    padding-bottom: 0.625rem;
}
#Activities .CardsActivities .ActivityParcLongchamp img{
    object-fit: cover;
    height: 9.90rem;
    width: 19rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    margin-bottom: 1.25rem;
}
/* FOOTER */
footer{
	background-color: #F2F2F2;
    color: #000;
    width: 100%;
}
.footertxt{
    display: flex;
    justify-content:space-between;
    padding: 1.875rem 1.875rem;
    width: 70%;
}
.footertxt li{
    list-style: none;
    line-height: 2;
}
.footertxt h3{
    line-height: 2;
}
.footertxt a{
    text-decoration: none;
    color: #000;
}
.footertxt a:hover{
    text-decoration: underline;
}


/******************/
/* MEDIA QUERIES  */
/******************/

/****************************************** Small Desktop Screens and Tablets ******************************************/
@media screen and (min-width: 768px) and (max-width: 1360px) { 
    header{
        padding: 1.875rem 1.875rem;
        margin: auto;
    }
    main{
        padding: 0rem 1.875rem;
        margin: auto;
    }
    #footercontainer{
        padding: 1.875rem 1.875rem;
        margin: auto;    
    }
    /* NAVBAR */
    nav.nav-anchor{
        justify-content: space-around;
        width: 100%;
        order: 3;
        padding-bottom: 2rem;
    }
    nav.nav-anchor a{
        padding: 0rem 1rem 2.5rem 1rem;
        border-bottom: 0.125rem solid #F2F2F2;
        border-top: none;
        width: 50%;
        text-align: center;
    }
    nav.nav-anchor a:hover{
        padding: 0rem 1rem 2.5rem 1rem;
        border-bottom: 0.125rem solid #0065FC;
        border-top: none;
        width: max-content;
        width: 50%;
        text-align: center;
    }
    nav.nav-anchor a.active{
        padding: 0rem 1rem 2.5rem 1rem;
        border-bottom: 0.125rem solid #0065FC;
        border-top: none;
        width: max-content;
        width: 50%;
        text-align: center;
    }
    a.subscribe{
        order: 2;
    }
    /* SEARCH */
    .divformfilter{
        flex-direction: column;
    }
    .formfilter{
        width: 80%;
    }
    .formfilter .divcustomlabel {
        margin-bottom: 1rem;
    }
    /* RESULTS */
    #Results{
        flex-direction: column-reverse;
    }
    /* RENTALS */
    #Rentals .CardsRentalMain{
    display: flex;
    justify-content: center;
    }
    /* MOST POPULAR */
    #Popular{
        margin-left: 0rem;
        margin-bottom: 0.5rem;
        padding: 0.875rem 0.875rem;
    }
    #Popular .CardsPopular {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
    }
    /* ACTIVITIES */
    #Activities .CardsActivities{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }
    #Activities .CardsActivities .CardsActivitiesChild{
        display: flex;
        justify-content: center;
        flex:50%;
    }
    #Activities 
    .CardsActivities .ActivityVieuxPort, 
    .CardsActivities .ActivityParcNationalDesCalanques,
    .CardsActivities .MainTwoActivities .ActivityFortDePomegues, 
    .CardsActivities .MainTwoActivities .ActivityIleDuFrioul, 
    .CardsActivities .MainTwoActivities .ActivityNotreDameDeLaGarde, 
    .CardsActivities .MainTwoActivities .ActivityParcLongchamp{
        margin: 1rem 0.5rem;
    }
    /* FOOTER */
    .footertxt{
        padding: 1.875rem 1.875rem;
        width: 85%;
    } 
}
/****************************************** Phones and Small Tablets******************************************/
@media screen and (max-width: 768px) {
    header{
        padding: 0rem 0rem;
        margin: auto;
    }
    main{
        padding: 0rem 0rem;
        margin: auto;
    }
    #footercontainer{
        padding: 0rem 0rem;
        margin: auto;    
    }
    /* HEADER */
    .logo{
        padding: 0rem 0.875rem;
    }
    #slogan{
        padding: 0.875rem 0.875rem;
    }
    #Search{
        padding: 0.875rem 0.875rem;
    }
    /* NAVBAR */
    nav.nav-anchor{
        justify-content: space-around;
        width: 100%;
        order: 3;
        padding-bottom: 2rem;
    }
    nav.nav-anchor a{
        padding: 0rem 1rem 2.5rem 1rem;
        border-bottom: 0.125rem solid #F2F2F2;
        border-top: none;
        width: 50%;
        text-align: center;
    }
    nav.nav-anchor a:hover{
        padding: 0rem 1rem 2.5rem 1rem;
        border-bottom: 0.125rem solid #0065FC;
        border-top: none;
        width: max-content;
        width: 50%;
        text-align: center;
    }
    nav.nav-anchor a.active{
        padding: 0rem 1rem 2.5rem 1rem;
        border-bottom: 0.125rem solid #0065FC;
        border-top: none;
        width: max-content;
        width: 50%;
        text-align: center;
    }
    a.subscribe{
        order: 2;
    }
    /* SEARCH */
    input[type="search"].inputmapsearch::placeholder {
        font-size: 1rem;
    }
    .btnmapsearch .desktoptablet{
        display: none;
    }
    .btnmapsearch .fa-search{
        display: block;
    }
    .btnmapsearch{
        border-radius: 1rem;
        width: 3rem;
    }
    .divformfilter{
        flex-direction: column;
        justify-content: flex-start;
    }
    .formfilter{
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }
    .formfilter .divcustomlabel {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .formfilter .divcustomlabel h4{
        margin-left: 0.525rem;
        margin-right: 0.525rem;
    }
    /* RESULTS */
    #Results{
        flex-direction: column-reverse;
    }
    /* MOST POPULAR */
    .MostPopular{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.5rem;
    }
    #Popular{
        margin-left: 0rem;
        width: 100%;
        border-radius: 0rem;
        padding: 0.5rem 0rem;
    }
    #Popular .CardsPopular {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0.5rem;
        flex-wrap: wrap;
    }
    #Popular .CardsPopular .MostPopularChildContainer{
        width: 20.55rem;
        height: 8.75rem; 
    }
    #Popular .CardsPopular .MostPopularChildContainer img{
        height: 100%;
        width: 8.25rem;
    }
    /* RENTALS */
    #Rentals{
        background-color: #FFF;
        border-radius: 0rem;
        padding: 0.5rem 0.5rem;
        margin-right: auto;
    }
    #Rentals .CardsRentalMain{
        display: flex;
        justify-content: center;
        padding: 0rem 0rem 0.5rem 0rem;
    }
    #Rentals .CardsRentalMain img{
        width: 20.55rem;
    }
    /* ACTIVITIES */ 
    #Activities{ 
        padding: 0.5rem 0.5rem;
    }
    #Activities h2{
        margin-bottom: 2rem;
    }
    #Activities .CardsActivities{
        flex-direction: column;
        align-items: center;
        padding: 0rem 0rem;
    }
    #Activities .CardsActivities .MainTwoActivities{
        margin-bottom: 0rem !important;
    }
    #Activities 
    .CardsActivities .ActivityVieuxPort, 
    .CardsActivities .ActivityParcNationalDesCalanques,
    .CardsActivities .MainTwoActivities .ActivityFortDePomegues, 
    .CardsActivities .MainTwoActivities .ActivityIleDuFrioul, 
    .CardsActivities .MainTwoActivities .ActivityNotreDameDeLaGarde, 
    .CardsActivities .MainTwoActivities .ActivityParcLongchamp{
        margin-bottom: 2rem !important;
        padding-bottom: 3.25rem !important;
        width: 21rem !important;
        height: 9.55rem !important;
    }
    #Activities 
    .CardsActivities .ActivityVieuxPort img, 
    .CardsActivities .ActivityParcNationalDesCalanques img,
    .CardsActivities .MainTwoActivities .ActivityFortDePomegues img, 
    .CardsActivities .MainTwoActivities .ActivityIleDuFrioul img, 
    .CardsActivities .MainTwoActivities .ActivityNotreDameDeLaGarde img, 
    .CardsActivities .MainTwoActivities .ActivityParcLongchamp img{
        height: 8.55rem !important;
        object-fit: cover !important;
        width: 21.2rem !important;
        margin-bottom: 1.25rem !important;
    }
    /* FOOTER */
    .footertxt{
        flex-direction: column;
        padding: 0.5rem 0.5rem;
        width: 85%;
    }
    .footertxt div:nth-child(1n){
        margin-bottom: 1rem;
    }
}