/* GENERAL SETTINGS */ 
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 1.6em;
    font-weight: bold;
}
#maincontainer{
    margin: 0% 0% 2% 3%;
    width: 95%;
}

/* HEADER */
header{
    width: 100%;
}
header .logoetnav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0% 0% 0% 3%;
    width: 95%;
    text-align:center;
}
header .slogan{
    padding: 0% 0% 1% 3%;
    width: 80%;
}
header .slogan h4{
    font-weight: normal;
}

/* NAVBAR */
nav li{
    display: inline-flex;
    flex-flow: row wrap;
} 
nav li a{
    padding: 2.5em 1em;
    text-decoration: none;
    color: rgba(0,0,0, 0.75);
}
nav .nav-anchor a:hover{
    color:  #0065FC;
    border-top: 2px solid #0065fc;
}
nav .nav-link a{
    color: #0065FC;
    font-weight: bold;
}

/* SEARCH */
#Search{
    padding-bottom: 20px;
}
.formmapsearch{
    display: flex;
    flex-direction: row;
    height: 45px;
    padding-bottom: 20px;
}
input[type="search"].inputmapsearch::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: bold;
    text-align: center;
}
input[type="search"].inputmapsearch::-moz-placeholder { /* Firefox 19+ */
    font-weight: bold;
    text-align: center;
}
input[type="search"].inputmapsearch:-ms-input-placeholder { /* IE 10+ */
    font-weight: bold;
    text-align: center;
}
input[type="search"].inputmapsearch:-moz-placeholder { /* Firefox 18- */
    font-weight: bold;
    text-align: center;
}
.fa-map-marker-alt{
    background-color: #F2F2F2;
    padding: 15px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 30px;
    display: inline-block;
    text-align: center;
}
.ResultsNumber{
    padding-top: 20px;
    display: flex;
}
.fa-info{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
    padding: 2.5px 2.5px;
    width: 15px;
    height: 15px;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 10px;
}
.inputmapsearch{
    width: 160px;
    border-color: #F2F2F2;
    border-style: solid;
}
.btnmapsearch{
    background-color: #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    width: 120px;
}
.btnmapsearch:hover{
    cursor: pointer;
}
.formfilter{
    display: flex;
    justify-content: space-between;
    width: 60%;
    vertical-align: bottom;
    line-height: 50px;
}
.formfilter input[type=checkbox] {
    display: none;
}
.formfilter .spancustomlabel {
    display: inline-flex;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    vertical-align:center;
    line-height: 40px;
    height: 40px;

}
.formfilter .spancustomlabel:hover{
    color: #DEEBFF;
    background-color: #0065FC;
    cursor: pointer;
    border: none;
}
.formfilter input[type=checkbox]:checked + .spancustomlabel {
    background: #0065FC;
    color: #fff;
}
.formfilter .spancustomlabel i.fas{
    color: #0065FC;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
    line-height: 40px;
    border-radius: 20px;
}
.formfilter .spancustomlabel h4{
    font-size: 0.9em;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
/* RESULTS */
#Results{
    display: flex;
}
/* RENTALS */
#Rentals{
    background-color: yellow;
}
#Rentals .CardsRental img{
    width: 30%;
}
#Rentals .CardsRental div:nth-child(odd) {
    background-color: lime;
}
/* MOST POPULAR */
#Popular{
    background-color: violet;
}
#Popular .CardsPopular img{
    width: 30%;
}
/* ACTIVITIES */
#Activities{
    background-color:orange;
}
#Activities .CardsActivities img{
    width: 30%;
}
/* FOOTER */
footer{
	background-color: #F2F2F2;
    color: #000;
    width: 100%;
}
.footertxt{
    display: flex;
    width: 70%;
    justify-content:space-between;
    padding: 2% 0% 2% 3%;
}
.footertxt li{
    list-style: none;
    line-height: 2;
}
.footertxt h3{
    line-height: 2;
}
.footertxt a{
    text-decoration: none;
    color: #000;
}
.footertxt a:hover{
    text-decoration: underline;
}